@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:host {
  display: block;
  --color-lightmode-lines: #166cdd;
  --color-lightmode-background: #fff;
  --color-lightmode-text: #3c4043;
  --color-lightmode-label-background: hsla(0, 0%, 100%, 0.8);

  --color-darkmode-lines: #267ff3;
  --color-darkmode-background: #000;
  --color-darkmode-text: #fff;
  --color-darkmode-label-background: hsla(0, 0%, 0%, 0.8);

  user-select: none;
}
.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 36px;
  cursor: row-resize;
}
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 48px;
  background-color: var(--color-lightmode-background);
}
.dark-mode .background {
  background-color: var(--color-darkmode-background);
}
.inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 56px;
  opacity: 0;
}
.inner.show {
  opacity: 1;
  transition: opacity 0.4s;
}
.list {
  position: absolute;
  top: 24px;
  bottom: 24px;
  right: 10px;
}
.list-item {
  line-height: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.025em;
  font-weight: 400;
  position: absolute;
  right: 0;
  white-space: nowrap;
  z-index: 2;
  pointer-events: none;
}
.list-item-year {
  transform: translateX(8px);
  padding: 0 8px;
  border-radius: 10px;
  cursor: row-resize;
  color: var(--color-lightmode-text);
  position: absolute;
  right: 0;
  line-height: 20px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 0.6875rem;
  letter-spacing: 0.072em;
  font-weight: 500;
  text-transform: uppercase;
}
.dark-mode .list-item-year {
  color: var(--color-darkmode-text);
}
.current-date-underline {
  background-color: var(--color-lightmode-lines);
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  height: 2px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 22.5px;
  transition: opacity 0.15s linear;
  width: 72px;
  z-index: 3;
}
.dark-mode .current-date-underline {
  background-color: var(--color-darkmode-lines);
}

.current-time-line {
  background-color: var(--color-lightmode-lines);
  height: 1px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 23px;
  width: 40px;
  z-index: 1;
}
.dark-mode .current-time-line {
  background-color: var(--color-darkmode-lines);
}

.current-date {
  display: flex;
  pointer-events: none;
  position: absolute;
  right: 0;
  transition: opacity 0.15s linear;
  z-index: 2;
}
.current-date-label {
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--color-lightmode-text);
  background-color: var(--color-lightmode-label-background);
  height: 24px;
  min-width: 0;
  padding: 2px 10px;
  pointer-events: none;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.0178571429em;
  font-weight: 500;
}
.dark-mode .current-date-label {
  color: var(--color-darkmode-text);
  background-color: var(--color-darkmode-label-background);
}
